<div class="header">
  <div class="profile pulse">
    <img alt="Profile Icon" src="../reciclapp/images/reciclapp.ico">
  </div>
  <div data-ui-field="header-box" layout="row center-center">
    <div class="title">
      ReciclApp
    </div>
    <div class="title">
      Notificaciones
    </div>
    <div class="title">
      Informacion
    </div>
  </div>
</div>
<!--  -->
<div data-ui-field="header-tools">
  <div class="topics" data-ui-options="options.topicIndicator" data-ui-load="@lib/controllers/view_pager"  >
    <div id="headerDocumentar">
      Cargar
    </div>
    <div>
      En casa
    </div>
    <div>
      Recoleccion
    </div>
    <div>
      Graficos
    </div>
  </div>
</div>
