<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
  <!--<meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests"> -->
  <title>ReciclApp</title>
  <meta name="description" content="Una aplicacion para la gestion del reciclaje en Tandil">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no">

  <!-- Progressive Web App -->
  <meta name="theme-color" content="#f5f8fa">
  <link rel="manifest" href="../manifest.json">

  <!-- Add to homescreen for Chrome on Android -->
  <meta name="mobile-web-app-capable" content="yes">
  <link rel="icon" sizes="192x192" href="../images/reciclapp.ico">
  <link rel="icon" sizes="512x512" href="../images/reciclapp.ico">

  <!-- Add to homescreen for Safari on iOS -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-title" content="A zUIx website">
  <link rel="apple-touch-icon" href="./images/reciclapp.ico">
  <link rel="mask-icon" href="../images/reciclapp.ico" color="#5bbad5">

  <!-- Tile color for Windows -->
  <meta name="msapplication-TileImage" content="../images/reciclapp.ico">
  <meta name="msapplication-TileColor" content="#ffc40d">

  <!--  Place favicon.ico in the root directory ESTE ICONO ES SOLO UN PLACEHOLDER-->
  <link rel="icon" type="image/ico" sizes="32x32" href="../images/reciclapp.ico">
  <link rel="icon" type="image/ico" sizes="16x16" href="../images/reciclapp.ico">
  
  <!-- TODO SACAR ESTO-->
  <link rel="preload" href="../pages/home.css" as="style">
  <!-- SEO: If your mobile URL is different from the desktop URL, add a canonical link to the desktop page https://developers.google.com/webmasters/smartphone-sites/feature-phones -->
  <!--
  <link rel="canonical" href="http://www.example.com/">
  -->

  <!-- Material Design Icons -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

  <!-- import zUIx library (v 0.4.9-54) -->
  <script src="../js/zuix.min.js"></script>
  <script src="../js/zuix-bundler.min.js"></script>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  
   <!-- TENGO QUE ACTIVAR EL BILLING DE LA API
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCa97hcgb3MLpRCj9pxdkJtWuSLugzf4XY" async defer></script>
    -->

  <!-- main app script -->
  <script src="../index.js" defer></script>

</head>
<!-- load the 'header_auto_hide' on the body -->
<body>

<!-- The header with profile icon button for opening the drawer layout (side menu panel) -->
<header id=header data-ui-include="../layout/header"
        data-ui-options="options.headerBar"
        data-ui-field="header-bar"></header>

<main data-ui-field="pages">

  <!-- HOME -->
  <section data-ui-include="../pages/home"></section>

  <!-- NOTIFICATIONS -->
  <section data-ui-include="../pages/notifications"></section>

  <!-- ABOUT -->
  <section data-ui-include="../pages/about" layout="column top-center"></section>

</main>

<!-- The footer with toolbar buttons -->
<footer id=footer data-ui-include="../layout/footer"
        data-ui-options="options.footerBar"
        data-ui-field="footer-bar"></footer>

<!-- The DrawerLayout for side menu panel -->
<div data-ui-load="@lib/controllers/drawer_layout"
     data-ui-options="options.drawerLayout"
     class="drawer"
     draggable="false">
  <!-- Add Navigation Drawer content -->
  <div data-ui-include="../shared/main_menu"></div>
</div>
<script>
  // CODELAB: Register service worker.
  if ('serviceWorker' in navigator) {
    window.addEventListener('load', () => {
      navigator.serviceWorker.register('./pwabuilder-sw.js')
        .then((reg) => {
          console.log('Service worker registered.', reg);
        });
});
}
</script>
<noscript>
  Turn on JavaScript to access this site content.
</noscript>

</body>
</html>
