<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="../reciclapp/user/login.css" >
<script src="../reciclapp/user/login.js" defer></script>
<script src="../reciclapp/conexion.js" defer></script>
<title>Login</title>

<!-- Progressive Web App -->
<meta name="theme-color" content="#f5f8fa">
<link rel="manifest" href="../reciclapp/manifest.json">

<!-- Add to homescreen for Chrome on Android -->
<meta name="mobile-web-app-capable" content="yes">
<link rel="icon" sizes="192x192" href="../reciclapp/images/reciclapp.ico">
<link rel="icon" sizes="512x512" href="../reciclapp/images/reciclapp.ico">

<script src="https://www.gstatic.com/firebasejs/4.13.0/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/4.13.0/firebase-messaging.js"></script>

</head>

<body>
  <div class="refactor">
      <h1 class="title">
          Ingreso
        </h1>
        
      <form name="login" onSubmit="Login();return false;" autocomplete="off">
          <table >
	        <tr> 
              <td scope="row" class="row"><h2></h2></td> 
              <td><span id="message" class="message"></span></td> 
            </tr>
            <tr > 
              <th scope="row" class="row"><h2>Usuario</h2></th> 
              <td><span class="cnt"> 
                <input id="user" name="usuario" type="email" class="Input" value="" placeholder="Email@Domain.com" size="20" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}" title="Ingrese su email" required/> 
              </span></td> 
            </tr> 
            <tr> 
              <th height="33" scope="row" class="row"><h2>Clave</h2></th> 
              <td><span class="cnt"> 
                <input id="pass" name="password" type="password" class="Input" value="" placeholder="Contraseña" size="20"  pattern="[A-ZñÑáéíóúÁÉÍÓÚa-z0-9]{5,20}" title="Minimo 5 caracteres alfanumericos" required/> 
              </span></td> 
            </tr> 
            <tr height="60">
              <th scope="row">
              </th>
              <th scope="row">
                <input href="#" value="Ingresar" target="_parent" onclick="" id="logear" type="submit" class="boton"/>
              </th> 
            </tr>
            <tr height="60">
              <th scope="row">
                <td scope="row">
                  <a href="createAccount.html" target="_parent" id="createAccount" type="button">Crear Cuenta</a>
                  <span>|</span>
                  <a href="changePass.html" target="_parent" id="restorePass" type="button">Olvidaste tu contraseña?</a>
                </td>
              </th>
            </tr>
          </table> 
      </form>
  </div>
</body>
</html>