/* CSS files add styling rules to your content COPIADO DE INDEX.CSS */

body {
    font-family: "Trebuchet MS", sans-serif;
    margin: 0; padding: 0;
    background: rgb(234, 236, 234);
    font-size: 20px;
    margin: 0; height: 100%; overflow: hidden;
    position:absolute;
    display: inline;
}
button{
    display:block;
    font-size: 14px;
    background-color: rgb(234, 236, 234);
    padding: 10px;
    border: 3px solid rgb(85, 122, 168);
    margin: 10px;
    overflow: hidden;
}
button:hover{
    opacity: 0.8;
    cursor: pointer;
}
.cameraContainer{
    text-align: center;
}
.camera{
    display:inline-block;
}
#formCodigoDetectado {
    width: 100%;
    height: 100%;
    top: 0;
    position: fixed;
    visibility: hidden;
    display: none;
    background-color: rgba(22,22,22,0.9); /* complimenting your modal colors */
    text-align: center;
    color:white;
}
#formCodigoDetectado:target {
    visibility: visible;
    display: block;
    overflow: hidden;
}
#formCodigoNoDetectado {
    width: 100%;
    height: 100%;
    top: 0;
    position: fixed;
    visibility: hidden;
    display: none;
    background-color: rgba(22,22,22,0.9); /* complimenting your modal colors */
    text-align: center;
    color:white;
}
#formCodigoNoDetectado:target {
    visibility: visible;
    display: block;
    overflow: hidden;
}
#formCargarProductoDesconocido {
    width: 100%;
    height: 100%;
    top: 0;
    position: fixed;
    visibility: hidden;
    display: none;
    background-color: rgba(22,22,22,0.9); /* complimenting your modal colors */
    text-align: center;
    color:white;
}
#formCargarProductoDesconocido:target {
    visibility: visible;
    display: block;
    overflow: hidden;
}
.reveal-modal {
    position: relative;
    margin: 0 auto;
    top: 25%;
}
.buttonCancel{
    background-color: rgb(197, 24, 24);
    border: 1px solid rgb(63, 2, 2);
    color: rgb(255, 255, 255);
    display: inline;
    font-size: 20px;
    border-radius: 12px;
    margin:10px;
    padding:4px;
}
.buttonConfirm{
    background-color: rgb(1, 150, 38);
    border: 1px solid rgb(3, 46, 5);
    color: rgb(255, 255, 255);
    display: inline;
    font-size: 20px;
    border-radius: 12px;
    margin:10px;
    padding:4px;
}
.buttonCamera{
    background-color: rgb(3, 29, 117);
    border: 1px solid rgb(1, 18, 73);
    color: rgb(255, 255, 255);
    display: inline;
    font-size: 20px;
    border-radius: 12px;
    margin:10px;
    padding:4px;
    opacity:0.3;
    position:absolute;
    left: 10%;
    bottom: 13%;
}
.botonModificable{
    border: 1px solid rgb(146, 176, 212);
    background-color: rgb(1, 115, 150);
    color: rgb(255, 255, 255);
    font-size: 20px;
    border-radius: 12px;
    display:inline;
}
img {
    height:250px; 
    width:250px;
    background-size: 150px 150px;
    background-repeat: no-repeat;
}
p {
    display:block;
}
input {
    height: 30px;
    width: 40px;
}
.p_inline{
    display:inline;
}
