<!DOCTYPE html>
<html lang="en">
  <head>
    <title>ReciclApp</title>
    <meta charset="utf-8">
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./scan.css">
    <link rel="icon" type="image/ico" sizes="32x32" href="../reciclapp/images/reciclapp.ico">
    <link rel="icon" type="image/ico" sizes="16x16" href="../reciclapp/images/reciclapp.ico">
    <!-- import the webpage's javascript file 
    <script src="/script.js" defer></script>-->
    <link rel="manifest" href="../reciclapp/manifest.json">
    <script src="../reciclapp/js/require.min.js"></script>
    <script src="../reciclapp/scan.js" ></script>
    <script src="../reciclapp/js/quagga.min.js"></script>
    <script src="../reciclapp/conexion.js" defer></script>
  </head>  
  <body scroll="no">
    <div id="resultado"></div>
    <div class="cameraContainer" >
      <div id="camera" class="scan"></div>
    </div>
    <script>
      const w = window.innerWidth;//Utilizo las medidas de la pantalla para setear la camara
const h = window.innerHeight;//Utilizo las medidas de la pantalla para setear la camara
      Quagga.init({
       inputStream : {
         name : "Live",
         type : "LiveStream",
         constraints: {
            width: w,
            height: h,
            facingMode: "environment" // or user
        },
         target: document.querySelector('#camera')    // Or '#yourElement' (optional)
  },
  decoder : {
    readers : ["ean_reader","code_128_reader","code_39_reader","codabar_reader","upc_reader","i2of5_reader","code_93_reader",{
      format: "ean_reader",
      config: {
          supplements: [
              'ean_5_reader', 'ean_2_reader'
          ]
      }
  }]
  }
}, function(err) {
    if (err) {
        console.log(err);
        return
    }
    console.log("Initialization finished. Ready to start");
    Quagga.start();
    console.log("Initialization finished. Ready to saliendo");
});
  var codigo;
  Quagga.onDetected(function(data){
      document.querySelector('#resultado').innerHTML = data.codeResult.code;
      codigo= data.codeResult.code;
      console.log("El codigo es " + codigo);

     //ESTO ME SIRVE SI QUIERO QUE DEVUELVA UNA SOLA VEZ, IGUALMENTE CIERRA LA CAMARA
     Quagga.stop();
     entrarFormScan(codigo);
  });
    </script>
  
  <div id="formCodigoDetectado">
    <h2 id="scanText1" >SE DETECTO EL SIGUIENTE PRODUCTO</h2><br>
    <p class=p_inline>Cantidad: <input class="countBoton" id="countScanInput2" type="number" name="Cantidad" min="1" max="500" value="1"/></p>
    <button class="botonModificable" onclick="decrementar(countScanInput2)">-</button>
    <button class="botonModificable" onclick="incrementar(countScanInput2)">+</button>
    <div id="exampleModal" >
        <button class="buttonCancel" onclick="quit()">Cancelar</button>
        <button class="buttonConfirm" onclick="confirmar(countScanInput2)">Confirmar</button>
    </div>
  </div>
  <div id="formCodigoNoDetectado">
    <h2>No se detectó el codigo de un producto valido</h2>
    <div id="exampleModal" >
        <button class="buttonCancel" onclick="quit()">Reintentar</button>
    </div>
  </div>
  <div id="formConsenso">
  <h2 id="scanText2" >SE DETECTO EL SIGUIENTE PRODUCTO EN CONSENSO</h2>
        
    <form name="consenso" autocomplete="off">
    <table >
      <tr > 
        <th scope="row" class="row"><p>Barcode</p></th> 
        <td>
          <input id="barcode" name="barcode" type="text" class="Input" value="" readonly/> 
        </td> 
      </tr>
      <tr > 
        <th scope="row" class="row"><p>Descripcion</p></th> 
        <td>
          <input id="description" name="description" class="Input"  type="text" value="" /> 
        </td> 
      </tr>
      <tr > 
        <th scope="row" class="row"><p>Categoria</p></th> 
        <td>
          <select id="categoria" class="selectCategoria">
          </select>
        </td> 
      </tr> 
      <tr > 
        <th scope="row" class="row"><p>Volumen</p></th> 
        <td>
          <input id="volumen" name="volumen" type="number" class="Input" value="" placeholder="Volumen"title="Ingrese un volumen para el producto" /> 
        </td> 
      </tr> 
      <tr> 
        <th height="33" scope="row" class="row"><p>Peso</p></th> 
        <td>
          <input id="peso" name="peso" type="number" class="Input" value="" placeholder="Peso" title="Ingrese un peso para el producto" /> 
        </td> 
      </tr>
      <tr> 
        <th height="33" scope="row" class="row"></th> 
        <td>
        </td>
      </tr>
    </table> 
    </form>
    <p class=p_inline>Cantidad: <input class="countBoton" id="countScanInput1" type="number" name="Cantidad" min="1" max="500" value="1"/></p>
    <button class="botonModificable" onclick="decrementar(countScanInput1)">-</button>
    <button class="botonModificable" onclick="incrementar(countScanInput1)">+</button>
    <div id="exampleModal" >
        <button class="buttonCancel" onclick="quit()">Cancelar</button>
        <button id="confirmarConsenso" class="buttonConfirm" onclick="confirmar(countScanInput1)">Confirmar</button>
    </div>
  </div>
  
  <button class="buttonCamera" onclick="window.location.href = '../reciclapp/index.html'" >Volver</button>
  </body>
</html>