<!DOCTYPE html>
<html lang="en">
  <head>
    <title>ReciclApp</title>
    <meta charset="utf-8">
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./scan.css">
    <link rel="icon" type="image/ico" sizes="32x32" href="../images/reciclapp.ico">
    <link rel="icon" type="image/ico" sizes="16x16" href="../images/reciclapp.ico">
    <!-- import the webpage's javascript file 
    <script src="/script.js" defer></script>-->
    <link rel="manifest" href="../manifest.json">
    <script src="../js/require.min.js"></script>
    <script src="../scan.js" ></script>
    <script src="../js/quagga.min.js"></script>
  </head>  
  <body scroll="no">
    <div id="resultado"></div>
    <div class="cameraContainer" >
      <div id="camera" class="scan"></div>
    </div>
    <script>
      const w = window.innerWidth;//Utilizo las medidas de la pantalla para setear la camara
const h = window.innerHeight;//Utilizo las medidas de la pantalla para setear la camara
      Quagga.init({
       inputStream : {
         name : "Live",
         type : "LiveStream",
         constraints: {
            width: w,
            height: h,
            facingMode: "environment" // or user
        },
         target: document.querySelector('#camera')    // Or '#yourElement' (optional)
  },
  decoder : {
    readers : ["ean_reader","code_128_reader","code_39_reader","codabar_reader","upc_reader","i2of5_reader","code_93_reader",{
      format: "ean_reader",
      config: {
          supplements: [
              'ean_5_reader', 'ean_2_reader'
          ]
      }
  }]
  }
}, function(err) {
    if (err) {
        console.log(err);
        return
    }
    console.log("Initialization finished. Ready to start");
    Quagga.start();
    console.log("Initialization finished. Ready to saliendo");
});
  var codigo;
  Quagga.onDetected(function(data){
      //console.log(data.codeResult.code);
      document.querySelector('#resultado').innerHTML = data.codeResult.code;
      codigo= data.codeResult.code;
      console.log("El codigo es " + codigo);
      /* EN EL CASO QUE DEJO QUE SE REPITA MUCHAS VECES Y ME QUEDO CON EL QUE MAS REPETICIONES TENGA
          cont++;
          if(cont=20) then{
              for(i=0 to arr.length){
                  if(arrnum[i]>maxrep){
                      maxrep=arrnum[i];
                      maxcod=arr[i];
                  }
              }
              console.log(maxcod);
              Quagga.stop();
          }
          else{
              for(i=0 to arr.length){
                  if(arr[i]==codigo)
                      arrnum[i]++;
              }
          }
          }
      */
     //ESTO ME SIRVE SI QUIERO QUE DEVUELVA UNA SOLA VEZ, IGUALMENTE CIERRA LA CAMARA
     Quagga.stop();
     entrarFormScan(codigo);
  });
    </script>
  
  <div id="formCodigoDetectado">
    <p id="scanText" >Se detecto el siguiente producto</p>
    <p class=p_inline>Cantidad: <input id="countScan" type="number" name="Cantidad" min="1" max="500" value="1"></p>
    <button class="botonModificable" onclick="decrementarInput()">-</button>
    <button class="botonModificable" onclick="incrementarInput()">+</button>
    <div id="exampleModal" >
        <button class="buttonCancel" onclick="quit()">Cancelar</button>
        <button class="buttonConfirm" onclick="confirmar()">Confirmar</button>
    </div>
  </div>
  <div id="formCodigoNoDetectado">
    <p>No se detectó el codigo de un producto valido</p>
    <div id="exampleModal" >
        <button class="buttonCancel" onclick="quit()">Reintentar</button>
        <button class="buttonConfirm" onclick="loadFormProductoDesconocido()"  >Indicar un producto similar</button>
        <!--  
          "window.location.href = './index.html'"
        "loadFormProductoDesconocido()"//Aca hay que implementar el sistema de voting 
        -->
    </div>
  </div>
  <div id="formCargarProductoDesconocido"> <!-- Aca habria que actualizar el select con los datos del JSON categorias.json  -->
    <p>Indique que producto más se asemeje al que quiere reciclar</p>
    <select id="categorias">
      <option value="volvo">Vidrio chico</option>
      <option value="saab">Vidrio mediano</option>
      <option value="mercedes">Vidrio grande</option>
      <option value="volvo">Tetrabrik chico</option>
      <option value="saab">Tetrabrik mediano</option>
      <option value="mercedes">Tetrabrik grande</option>
      <option value="volvo">Doypack chico</option>
      <option value="saab">Doypack mediano</option>
      <option value="mercedes">Doypack grande</option>
      <option value="volvo">Plastico chico</option>
      <option value="saab">Plastico mediano</option>
      <option value="mercedes">Plastico grande</option>
      <!--  ESTAS -->
    </select>

    <div id="exampleModal" >
        <button class="buttonCancel" onclick="quit()">Cancelar</button>
        <button class="buttonConfirm" onclick="confirmar()" >Confirmar</button>
    </div>
  </div>
  
  <button class="buttonCamera" onclick="window.location.href = '../index.html'" >Volver</button>
  <!--  "window.location.href = './index.html'"
  "entrarFormScan('1234567890987')"
  -->
  </body>
</html>