/* CSS files add styling rules to your content */

body {
    font-family: "Trebuchet MS", sans-serif;
    font-size: 16px;
    margin: 0; padding: 0;
    background: rgb(255, 255, 255);
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    height:100vh;
    background-image: url("/reciclapp/images/loginBackground.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;

}

h1.title{
    font-family: "Times New Roman", Times, serif;
    color:black;
    font-size: 70px;
    font-style: italic;
    background-color: rgb(1, 115, 150);
    border: 2px solid rgb(1, 115, 150);
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
    border-radius: 12px;
}

.drawer {
    background: white;
}
.boton:hover{
    transform: scale(1.15);
    cursor: pointer;
}

a:hover{
	font-size: 20px;
    cursor: pointer;
}

div {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
    -ms-transform: translate(-50%, -40%); /* IE 9 */
    -webkit-transform: translate(-50%, -40%); /* Chrome, Safari, Opera */	    
}

input {
    background-color: burlywood;
    font-size: 25px;
}

.boton{
    border: 1px solid rgb(146, 176, 212);
    background-color: rgb(1, 115, 150);
    color: rgb(255, 255, 255);
    font-size: 30px;
    border-radius: 12px;
    margin: 20px;
}

table {
    background-color: transparent;
    margin:auto;
    width: 30vw;
    border-radius: 12px;

}

div.refactor{
    text-align: center;
    width: 70vw;
}

span.message{
	text-align: center;
	background-color: red;
	width: 50vw;
	font-size: 30px;
	border-radius: 6px;
	color: white;
}

th.row{
    font-size: 20px;
    text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
}

@media only screen and (max-width: 1200px) {
    table {
        width: 60vw;  
    }
  }